streamlit==1.38.0
torch==2.4.1
torchvision==0.19.1
opencv-python-headless==4.10.0.84  # Замените на этот пакет
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2
Pillow==10.4.0
requests==2.31.0
ultralytics==8.3.16